node_modules/
.env
cron/healthchecks.env
assets/
/data/
/state/
/tmp/
*.log
.DS_Store
.claude/
plan.md
research.md
bugs.md
debugging/config.sh

# GTFS
calendar_dates.txt
calendar.txt
stop_times.txt
stops.txt
trips.txt